h1 {
	font-family: 'Calligraffitti', cursive;
	color: #0D2C40;
	letter-spacing: 1PX;
	font-weight: 400;
	font-size: 45PX;
	margin: 0;
   }
 header {
 	background-color: #74A18E;
 	padding: 30px 20px;
 	}
 body {
 	margin: 0;
  text-align: center;
	background-color: #B2C891;
	font-family: 'Calligraffitti', cursive;
 	}
 nav {
 	background-color: #95A1C3;
 	padding-top: 20px;
 	padding-bottom: 20px;
	font-family: 'Calligraffitti', cursive;
	}
 main {
 	width: 850px;
 	margin-top: 35px;
 	margin-left: auto;
 	margin-right: auto;
 	}
 img {
 	margin-top: 40px;
 	margin-right: 8px;
 	margin-left: 8px;
 	}
 a {
 	font-family: 'Calligraffitti', cursive;
 	color: #0D2C40;
 	letter-spacing: 1PX;
 	font-weight: 600;
 	font-size: 18PX;
 	margin-right: 20px;
 	margin-left: 20px;
 	text-decoration: none;
 	}
 	a:hover {
 	border-bottom: 2px solid transparent;
 	color: white;
    }
  h2 {
  	font-family: 'Calligraffitti', cursive;
  	color: #0D2C40;
  	letter-spacing: 1PX;
  	font-weight: 600;
  	font-size: 20PX;
    }
   p {
   	 font-family: 'Calligraffitti', cursive;
   	 line-height: 26PX;
   	 font-size: 15PX;
		 color: #0D2C40;
   	 }
   footer {
   	text-transform: uppercase;
   	padding-left: 20px;
   	padding-right: 20px;
   	background-color: #95A1C3;
   	color: white;
   	font-size: 14px;
   	letter-spacing: .08em;
   	font-weight: 500;

   }
  .clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
  }

  .copyright {
  	font-family: 'Calligraffitti', cursive;
  	float: left;
  }
  .name {
  	color: #F15B31;
  	font-weight: 700;
  }
	button {
		background-color:#B99C6B;
		color: #0D2C40;
		font-family: 'Calligraffitti', cursive;
	}
